<nav class="nav-primary hidden-xs">
	<ul class="nav" id="nav">
	
		<li class="active">
			<a href="/admin/index">
				<i class="fa fa-dashboard icon">
					<b class="bg-success">
					</b>
				</i>
				<span>
					Панель управления
				</span>
			</a>
		</li>
		
		<li id="adminUserNav">
			<a href="#">
				<i class="fa fa-users icon">
					<b class="bg-danger">
					</b>
				</i>
				<span class="pull-right">
					<i class="fa fa-angle-down text">
					</i>
					<i class="fa fa-angle-up text-active">
					</i>
				</span>
				<span>
					Пользователи
				</span>
			</a>
			<!-- 导航列表 -->
			<ul class="nav lt">
				<li>
					<a href="/adminUser/index">
						<span>
							Список
						</span>
					</a>
				</li>
				<li>
					<a href="/adminUser/add">
						<span>
							Добавить
						</span>
					</a>
				</li>
			</ul>
		</li>
		
		<li>
			<a href="/adminBlog/index">
				<i class="fa fa-file icon">
					<b class="bg-warning">
					</b>
				</i>
				<span>
					Блог
				</span>
			</a>
		</li>
		<li id="adminEmailNav">
			<a href="#layout">
				<i class="fa fa-envelope-o icon">
					<b class="bg-warning">
					</b>
				</i>
				<span class="pull-right">
					<i class="fa fa-angle-down text">
					</i>
					<i class="fa fa-angle-up text-active">
					</i>
				</span>
				<span>
					Email
				</span>
			</a>
			<ul class="nav lt">
				<li>
					<a href="/admin/t?t=email/set">
						<span>
							Конфигурация
						</span>
					</a>
				</li>
				<li>
					<a href="/admin/t?t=email/template">
						<span>
							Шаблоны
						</span>
					</a>
				</li>
				<li>
					<a href="/admin/t?t=email/sendToUsers">
						<span>
							Отправить сообщение пользователям
						</span>
					</a>
				</li>
				<li>
					<a href="/admin/t?t=email/send">
						<span>
							Отправка Email
						</span>
					</a>
				</li>
				<li>
					<a href="/adminEmail/list">
						<span>
							Журнал
						</span>
					</a>
				</li>
			</ul>
		</li>
		
		<li id="adminSettingNav">
			<a href="#layout">
				<i class="fa fa-cog icon">
					<b class="bg-info">
					</b>
				</i>
				<span class="pull-right">
					<i class="fa fa-angle-down text">
					</i>
					<i class="fa fa-angle-up text-active">
					</i>
				</span>
				<span>
					Конфигурация
				</span>
			</a>
			<ul class="nav lt">

				<li>
					<a href="/admin/t?t=setting/site_url">
						<span>
							URL сайта
						</span>
					</a>
				</li>

				<li>
					<a href="/admin/t?t=setting/home_page">
						<span>
							Домашняя страница
						</span>
					</a>
				</li>
				
				<li>
					<a href="/admin/t?t=setting/demo">
						<span>
							Demo доступ
						</span>
					</a>
				</li>
				
				<li>
					<a href="/admin/t?t=setting/open_register">
						<span>
							Открытая регистрация
						</span>
					</a>
				</li>
				
				<li>
					<a href="/admin/t?t=setting/share_note">
						<span>
							Регистрация общей заметки
						</span>
					</a>
				</li>
				
				<li>
					<a href="/admin/t?t=setting/upload">
						<span>
							Лимит на загрузку файлов
						</span>
					</a>
				</li>
				
				<li>
					<a href="/admin/t?t=setting/export_pdf">
						<span>
							Экспорт в PDF
						</span>
					</a>
				</li>
				
			</ul>
		</li>
		
		<li>
			<a href="#">
				<i class="fa fa-columns icon">
					<b class="bg-success">
					</b>
				</i>
				<span class="pull-right">
					<i class="fa fa-angle-down text">
					</i>
					<i class="fa fa-angle-up text-active">
					</i>
				</span>
				
				<span>
					Данные
				</span>
			</a>
			<ul class="nav lt">
				<li>
					<a href="/admin/t?t=data/configuration">
						<span>
							Инструменты Mongodb
						</span>
					</a>
				</li>
				<li>
					<a href="/adminData/index">
						<span>
							Резервная копия и восстановление
						</span>
					</a>
				</li>
			</ul>
		</li>
		<!--
		<li>
			<a href="#">
				<i class="fa fa-space-shuttle icon">
					<b class="bg-danger">
					</b>
				</i>
				<span class="pull-right">
					<i class="fa fa-angle-down text">
					</i>
					<i class="fa fa-angle-up text-active">
					</i>
				</span>
				
				<span>
					Upgrade
				</span>
			</a>
			<ul class="nav lt">
				<li>
					<a href="/admin/t?t=upgrade/beta2">
						<span>
							v1.0-beta to v1.0-beta.2
						</span>
					</a>
				</li>
				<li>
					<a href="/admin/t?t=upgrade/beta3">
						<span>
							v1.0-beta.2/3 to v1.0-beta.4
						</span>
					</a>
				</li>
			</ul>
		</li>
		-->
	</ul>
</nav>
